.input {
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px 20px;
    margin: 8px 0;
    transition: 0.3s;
    font-family: "Arial";
    font-size: 12px;
    width: 24em;
}

.input:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}